name: Deploy to Google Cloud Functions
on:
  push:
    branches:
      - main

jobs:
  get-secrets:
    runs-on: ubuntu-latest  

    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: 'actions/checkout@v4'

    # - name: Set up Python
    #   uses: actions/setup-python@v2
    #   with:
    #     python-version: '3.10'

    # - name: Install dependencies
    #   run: |
    #     python -m venv venv
    #     source venv/bin/activate
    #     python -m pip install --upgrade pip
    #     pip install -r requirements.txt

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v1'
      with:
        token-format: 'access-token'
        workload_identity_provider: 'projects/222808868980/locations/global/workloadIdentityPools/github-actions-cloud-run/providers/github'
        service_account: 'github-actions-cloud-run@fenixwork-projects.iam.gserviceaccount.com'

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v1'
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}  # Optionally provide a service account key



    - name: 'Build Docker image'
      run: |
        docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/my-app:latest .

    - name: 'Authenticate Docker with GCR'
      run: |
        gcloud auth configure-docker

    ## Pushing Docker Image
    - name: 'Push Docker image'
      run: |
        docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/my-app:latest

    - name: Install gke-gcloud-auth-plugin
      run: |
        gcloud components update
        gcloud components install gke-gcloud-auth-plugin

    # - name: Install gke-gcloud-auth-plugin
    #   run: |
    #     sudo apt-get update && sudo apt-get install -y apt-transport-https ca-certificates gnupg
    #     echo "deb https://packages.cloud.google.com/apt gcloud-gke-gcloud-auth-plugin main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
    #     curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
    #     sudo apt-get update && sudo apt-get install -y google-cloud-sdk-gke-gcloud-auth-plugin

    - name: 'Get GKE Credentials'
      run: |
        gcloud container clusters get-credentials github-cluster-1 --region us-central1 --project ${{ secrets.GCP_PROJECT_ID }}


    - name: 'Set up kubectl'
      uses: 'azure/setup-kubectl@v3'
      with:
        version: 'latest'

    - name: 'Deploy to GKE'
      run: |
        kubectl apply -f k8s/deployment.yaml
        kubectl apply -f k8s/service.yaml